// Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Font Sizes
$font-h1: 1rem; // 16px
$font-m: 0.8125rem; // 13px
$font-s: 0.6875rem; // 10px

// Font Weights
$font-weight-m: 700;
$font-weight-s: 500;
