@media (min-width: 64em) {
  h1 {
    font-size: 1.375rem;
    margin: 0;
    line-height: 1.3;
  }
  .container {
    height: 100vh;
  }
  .article {
    flex-direction: row;
    height: 17.5rem;
  }
}
@media (max-width: 63.9375em) {
  h1 {
    font-size: 1rem;
    margin: 0;
    line-height: 1.3;
  }
  .article {
    flex-direction: column;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8125rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: black;
  line-height: 1.5;
}
body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
body .attribution a {
  color: hsl(214, 17%, 51%);
}

.container {
  padding: 3rem 2rem;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.article {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  max-width: 45.625rem;
  overflow: hidden;
}
.article__image {
  width: 100%;
  height: 12.5rem;
}
@media (min-width: 64em) {
  .article__image {
    width: 285px;
    height: 100%;
  }
  .article__image img {
    object-position: left;
  }
}
.article__text {
  padding: 2rem 2rem 0 2rem;
  max-width: 445px;
}
.article__author {
  display: flex;
  padding: 0.5rem 2rem 2rem 2rem;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.article__author p {
  margin: 0;
  opacity: 30%;
}
.article__links {
  display: none;
  padding: 1rem 2rem;
  flex-direction: row;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  color: hsl(212, 23%, 69%);
}

.author__icon {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.share__text {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.share__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-left: auto;
}
.share__links a {
  height: 1.25rem;
  width: 1.25rem;
}

.btn {
  height: 2rem;
  width: 2rem;
  margin-left: auto;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/icon-share.svg");
}
.btn:hover {
  cursor: pointer;
}

.dark-button {
  background-color: hsl(214, 17%, 51%);
  background-image: url("/images/icon-share-light.svg");
}

.tooltip {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
}
.tooltip__content {
  position: absolute;
  padding: 1rem 3.5rem;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}
.tooltip__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 64px solid transparent; /* Adjust size as needed */
  border-right: 64px solid transparent; /* Adjust size as needed */
  border-top: 64px solid hsl(217, 19%, 35%);
}

/*# sourceMappingURL=style.css.map */
